@charset "UTF-8"

body {
background-color: rgb(213, 143, 154);
}
h1{
 color: red;
  background-color: rgb(154, 224, 175);   
}
h2{
    color: brown;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: justify;
    color: rgb(6, 79, 33);
    font-family: Georgia, 'Times New Roman', Times, serif;
}